.sidebar {
  &-logo {
    height: 64px;
    line-height: 64px;
    background: $primary-color;
    margin-bottom: 30px;
    padding-left: 1.5rem;

    &-content {
      display: inline-block;
      color: #fff;
      font-size: 1.25rem;
      margin: 0;
    }

    img {
      height: 2rem;
      margin-right: 0.5rem;
    }
  }
}

.ant-layout-sider-collapsed {
  .sidebar-logo-content {
    display: none;
  }
}

.ant{
  &-layout-sider {
    background-color: #21292e;
  }

  &-menu-dark {
    background-color: #21292e;
  }
}
