$main-padding             : 9rem 3.75rem 11rem;

.page-login {
  background: url('../images/login.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  &-main {
    padding: $main-padding;
    position: absolute;
    right: 0;
    top: 0;
    height: auto;
    min-height: 100%;
  }
}
